/* Mixins */
/* Create Treeboon */
.create-treeboon-section {
  float: right;
  width: 100%;
  padding-top: 100px;
  margin-top: -70px; }

.create-treeboon {
  float: right;
  width: 100%; }

.create-treeboon-h3 {
  float: right;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold; }
  .create-treeboon-h3 span {
    font-size: 30px;
    position: relative;
    top: 8px;
    color: #a0d001;
    margin-bottom: 15px; }

.create-treeboon-des {
  float: right;
  width: 100%;
  text-align: justify;
  line-height: 26px;
  color: #202020; }

.create-treeboon-link {
  float: right;
  width: 164px;
  line-height: 48px;
  font-size: 16px;
  height: 52px;
  border-radius: 10px;
  border: 2px solid #a0d001;
  color: #000;
  text-align: center;
  margin: 30px calc(50% - 82px) 90px 0; }
  .create-treeboon-link:hover {
    color: #fff;
    background-color: #a0d001; }

@media (min-width: 426px) {
  .create-treeboon-section {
    margin-top: -78px; } }
@media (min-width: 1200px) {
  .create-treeboon-des {
    padding: 0 200px; } }
