/* Mixins */
/* Footer */
footer.footer {
  float: right;
  width: 100%;
  margin-top: 50px; }

#back-to-top {
  float: right;
  width: 100%;
  text-align: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.04);
  line-height: 60px;
  font-size: 16px;
  font-weight: bold;
  color: #555555; }
  #back-to-top::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.12) 70%, transparent 70%);
    background-size: 6px 1px; }

.footer-main {
  float: right;
  width: 100%;
  background-color: #eceff1;
  border-top: 1px solid #cfd6db;
  padding-top: 40px; }

.footer-h4 {
  float: right;
  width: 100%;
  color: #6a7378;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px; }

.footer-ul {
  float: right;
  width: 100%;
  font-weight: 300;
  margin-bottom: 30px; }
  .footer-ul li {
    float: right;
    width: 100%; }
    .footer-ul li a {
      float: right;
      width: 100%;
      color: #6a7378; }
      .footer-ul li a:hover {
        color: #a0d001;
        font-weight: bold; }

.namad-ul {
  float: right;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px; }
  .namad-ul li {
    float: right; }

.newsletter-form {
  float: right;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  border: #e7e7e7;
  margin-bottom: 15px;
  border: 1px solid #cfd6db;
  overflow: hidden; }
  .newsletter-form input {
    float: right;
    width: calc(100% - 80px);
    height: 40px;
    border: none;
    text-align: center;
    font-size: 13px;
    letter-spacing: -1px; }
  .newsletter-form button {
    float: left;
    width: 80px;
    height: 40px;
    border: none;
    color: #2b3800;
    font-size: 16px;
    background-image: linear-gradient(to left, #a0d001 50%, #d6fe52 100%);
    background-size: 200% 100%;
    transition: 0.2s ease-in-out; }
    .newsletter-form button:hover {
      background-position: 100% 100%; }
    .newsletter-form button:active {
      background: #d6fe52; }

.footer-social {
  float: right;
  width: 100%;
  font-size: 20px;
  margin-bottom: 30px; }
  .footer-social li {
    float: right;
    margin-left: 10px; }
    .footer-social li a {
      color: #9ea6aa; }
      .footer-social li a:hover {
        color: #a0d001; }

.copyright {
  float: right;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 13px;
  background-color: #cfd6db;
  line-height: 50px;
  color: #333e45; }
