/* Mixins */
/* Whats Treeboon */
.treeboon-offset {
  float: right;
  width: 100%;
  height: 70px; }

.whats-treeboon {
  float: right;
  width: 100%;
  background-image: linear-gradient(15deg, transparent 75%, #ceffe3);
  padding-top: 30px; }

.whats-treeboon-flex {
  float: right;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; }
  .whats-treeboon-flex > div {
    float: right;
    width: 100%; }
    .whats-treeboon-flex > div img {
      display: block;
      margin: auto;
      mix-blend-mode: multiply; }

.whats-treeboon-h3 {
  float: right;
  width: 100%;
  font-size: 24px;
  font-weight: bold; }
  .whats-treeboon-h3 span {
    font-size: 30px;
    position: relative;
    top: 8px;
    color: #a0d001;
    margin-bottom: 15px; }

.whats-treeboon-des {
  float: right;
  width: 100%;
  text-align: justify;
  line-height: 24px;
  color: #202020; }

.whats-treeboon-link {
  float: right;
  width: 130px;
  height: 40px;
  border: 2px solid #a0d001;
  border-radius: 10px;
  line-height: 36px;
  text-align: center;
  color: #000;
  margin: 30px 0; }
  .whats-treeboon-link:hover {
    background-color: #a0d001;
    color: #fff; }

@media (min-width: 426px) {
  .treeboon-offset {
    height: 78px; } }
@media (min-width: 768px) {
  .whats-treeboon-flex {
    flex-direction: row-reverse; }
    .whats-treeboon-flex > div {
      width: 50%; } }
