@import "global-variables";
/* Whats Treeboon */
.treeboon-offset
{
	@include base;
	height: 70px;
}
.whats-treeboon
{
	@include base;
	background-image: linear-gradient(15deg, transparent 75%, lighten($color-fourth, 30%));
	padding-top: 30px;
}
.whats-treeboon-flex
{
	@include base;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	& > div
	{
		@include base;
		& img
		{
			display: block;
			margin: auto;
			mix-blend-mode: multiply;
		}
	}
}
.whats-treeboon-h3
{
	@include base;
	font-size: $font-size-section-big;
	font-weight: bold;
	& span
	{
		font-size: 30px;
		position: relative;
		top: 8px;
		color: $color-base;
		margin-bottom: 15px;
	}
}
.whats-treeboon-des
{
	@include base;
	text-align: justify;
	line-height: 24px;
	color: lighten($color-text, 12.5%);
}
.whats-treeboon-link
{
	float: right;
	width: 130px;
	height: 40px;
	border: 2px solid $color-base;
	border-radius: $radius-button;
	line-height: 36px;
	text-align: center;
	color: $color-text;
	margin: 30px 0;
	&:hover
	{
		background-color: $color-base;
		color: $color-invert;
	}
}
@media(min-width: 426px)
{
	.treeboon-offset
	{
		height: 78px;
	}
}
@media(min-width: 768px)
{
	.whats-treeboon-flex
	{
		flex-direction: row-reverse;
		& > div
		{
			width: 50%;
		}
	}
}
